.hero-section {
  --padding-horizontal: calc(6 * var(--pico-block-spacing-horizontal));
  --padding-vertical: calc(6 * var(--pico-block-spacing-vertical));

  display: flex;
  min-height: min(100vh, 800px);
  padding: var(--padding-vertical) var(--padding-horizontal);
  position: relative;

  &::before {
    background: url("@assets/images/hero-background.webp") no-repeat center/cover;
    content: "";
    filter: blur(64px);
    height: 200%;
    inset: 0;
    pointer-events: none;
    position: absolute;
    transform: translateX(-50%);
    width: 200%;
    z-index: 0;
  }

  > .hero-section__container {
    align-items: center;
    display: flex;
    gap: calc(0.75 * var(--padding-vertical)) calc(0.75 * var(--padding-horizontal));
    position: relative;
    width: 100%;
    z-index: 0;

    > .hero-section__image {
      flex: 0 0 auto;
      position: relative;
      width: min(35%, 320px);

      > img {
        background-color: var(--pico-primary-inverse);
        border-radius: 50%;
        box-shadow: 0 0 0 4px var(--pico-primary-inverse);
        height: max-content;
        position: relative;
        width: 100%;
      }
    }

    > .hero-section__content {
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;
      gap: var(--pico-block-spacing-vertical);

      > hgroup {
        > h1 {
          margin-bottom: calc(0.5 * var(--pico-block-spacing-vertical));
        }

        > h2 {
          color: var(--pico-primary);
          font-weight: 500;
        }
      }

      > p {
        line-height: 1.5;
        margin-bottom: calc(1.5 * var(--pico-block-spacing-vertical));
        max-width: 680px;
      }

      > .hero-section__actions {
        display: flex;
        gap: var(--pico-block-spacing-horizontal);

        > a[role="button"] {
          align-self: start;
          white-space: nowrap;
        }
      }
    }
  }

  @media (prefers-color-scheme: light) {
    &::before {
      opacity: 0.75;
    }
  }

  @media screen and (pointer: coarse) and (orientation: portrait) {
    align-items: center;
    min-height: 100vh;
  }

  @media (max-width: 980px) {
    > .hero-section__container {
      align-items: center;
      flex-direction: column;
      text-align: center;

      > .hero-section__image {
        margin: 0;
        width: min(100%, 280px);
      }

      > .hero-section__content {
        > .hero-section__actions {
          margin: 0 auto;
        }
      }
    }
  }

  @media (max-width: 800px) {
    --padding-horizontal: calc(4 * var(--pico-block-spacing-horizontal));
    --padding-vertical: calc(4 * var(--pico-block-spacing-vertical));
  }

  @media (max-width: 600px) {
    --padding-horizontal: calc(2 * var(--pico-block-spacing-horizontal));
  }

  @media (max-width: 480px) {
    > .hero-section__container {
      > .hero-section__content {
        > .hero-section__actions {
          flex-direction: column;
          gap: calc(1 * var(--pico-block-spacing-vertical));
          margin: 0 auto;
          width: fit-content;

          > a[role="button"] {
            align-self: center;
            width: 100%;
          }
        }
      }
    }
  }
}
