.tech-section {
  background: var(--pico-contrast-inverse);
  overflow: visible;
  position: relative;

  > * {
    position: relative;
    z-index: 1;
  }

  &::after {
    background: linear-gradient(
      180deg,
      var(--pico-background-color) 0%,
      var(--pico-background-color) 20%,
      var(--pico-primary-background) 60%,
      var(--pico-background-color) 100%);
    bottom: 0;
    content: "";
    display: block;
    filter: blur(64px);
    height: 100%;
    left: 50%;
    max-width: 780px;
    opacity: 0.5;
    overflow: visible;
    pointer-events: none;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    width: 80%;
    z-index: 0;
  }
}

.technology-list {
  align-items: stretch;
  background: var(--pico-contrast-inverse);
  border-radius: 2rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
  justify-content: space-between;
  justify-items: center;
  padding: calc(4 * var(--pico-spacing));
  row-gap: calc(2 * var(--pico-block-spacing-vertical));
  width: 100%;

  > p {
    align-self: stretch;
    color: var(--pico-muted-color);
    font-size: calc(0.75 * var(--pico-font-size));
    justify-self: stretch;
    margin: 0;
    overflow-wrap: normal;
    padding-right: calc(2 * var(--pico-block-spacing-horizontal));
    text-align: start;
    text-overflow: ellipsis;
    word-break: keep-all;
  }

  > ul {
    align-items: center;
    column-gap: calc(2 * var(--pico-block-spacing-horizontal));
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    justify-items: stretch;
    margin: 0;
    padding: 0;
    row-gap: calc(2 * var(--pico-block-spacing-vertical));
    width: 100%;

    > li {
      list-style: none;
      margin: 0;

      > a {
        color: var(--pico-contrast);
        display: inline-block;

        > div > svg {
          height: auto;
          max-height: 3rem;
          width: 100%;
        }
      }
    }
  }

  > p,
  > ul {
    &:not(:first-of-type) {
      border-top: 1px solid var(--pico-muted-border-color);
      padding-top: calc(2 * var(--pico-block-spacing-vertical));
    }
  }

  @media (max-width: 800px) {
    grid-template-columns: 1fr;
    row-gap: calc(1.5 * var(--pico-block-spacing-vertical));

    > p {
      font-size: calc(0.825 * var(--pico-font-size));
      padding: 0;
      text-align: center;

      &:not(:first-of-type) {
        margin-top: calc(0.5 * var(--pico-block-spacing-vertical));
        padding-top: calc(1.5 * var(--pico-block-spacing-vertical));
      }
    }

    > ul {
      border: 0 !important;
      column-gap: calc(4 * var(--pico-block-spacing-horizontal));
      padding: 0 !important;

      > li > a > div > svg {
        max-height: 2rem;
      }
    }
  }

  @media (max-width: 600px) {
    padding: calc(2 * var(--pico-spacing));

    > ul {
      column-gap: calc(1.5 * var(--pico-block-spacing-horizontal));

      &:last-of-type {
        margin-bottom: calc(0.5 * var(--pico-block-spacing-vertical));
      }
    }
  }
}
