.ui-page-section {
  --padding-horizontal: calc(6 * var(--pico-block-spacing-horizontal));
  --padding-vertical: calc(6 * var(--pico-block-spacing-vertical));
  --row-gap: calc(4 * var(--pico-block-spacing-vertical));

  align-items: var(--content-align, center);
  display: flex;
  flex-direction: column;
  padding: var(--padding-vertical) var(--padding-horizontal);
  row-gap: var(--row-gap);
  text-align: var(--content-align, center);

  &[data-align="start"] {
    --underline-margin-left: 0;
    --underline-margin-right: auto;
  }

  &[data-align="end"] {
    --underline-margin-left: auto;
    --underline-margin-right: 0;
  }

  > .ui-page-section__header,
  > .ui-page-section__content {
    max-width: var(--max-width, none);
    width: 100%;
  }

  > .ui-page-section__header {
    > hgroup {
      margin: 0;

      > h2 {
        font-size: calc(1.25 * var(--pico-font-size));
        font-weight: 500;
        line-height: 1;

        &::after {
          background-color: var(--pico-primary-background);
          border-radius: 2px;
          content: "";
          display: block;
          height: 4px;
          margin: calc(2 * var(--pico-block-spacing-vertical)) auto;
          margin-left: var(--underline-margin-left, auto);
          margin-right: var(--underline-margin-right, auto);
          width: 100px;
        }
      }

      > p {
        color: var(--pico-secondary);
        hyphens: none;
        line-height: 1.5;
        margin: var(--pico-block-spacing-vertical) auto;
        word-break: keep-all;
      }

      > :last-child {
        margin-bottom: 0;
      }
    }
  }

  @media (max-width: 800px) {
    --padding-horizontal: calc(4 * var(--pico-block-spacing-horizontal));
    --padding-vertical: calc(4 * var(--pico-block-spacing-vertical));
  }

  @media (max-width: 600px) {
    --padding-horizontal: calc(2 * var(--pico-block-spacing-horizontal));
    --row-gap: calc(2 * var(--pico-block-spacing-vertical));
  }
}
